/* src/components/ui/layout/layout.css */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(var(--color-bg));
}

.layout-main {
  max-width: 900px;
  min-height: calc(100vh - 128px);
  margin: 0 auto;
  border: 1px solid rgb(var(--color-border));
  background-color: rgb(var(--color-bg));
}

@media (max-width: 660px) {
  .layout-main {
    border: none;
  }
}

.layout-title {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 64px;
  padding: 0 15px;
  border-bottom: 1px solid rgb(var(--color-border));
  font-size: 28px;
  font-family: "Georgia", serif;
  color: rgb(var(--color-primary-text));
  text-align: center;
  margin-bottom: 1rem;
}